*.class

# Package Files #
*.jar
*.war
*.ear

#Eclipse#
.classpath
.project

#Testing#
tester/
#build stuff#
buildjar.xml
jar-in-jar-loader.zip

*.prefs
 
*/libs
*/bin
*prep/

*-html/
*/gen/

underground-sloth*
